.training-day {
  gap: 1rem;

  & span {
    font-weight: bold;
  }

  & input {
    border: 2px solid #abacaf;
    background: transparent;
    color: inherit;
    appearance: none;
    border-radius: var(--border-radius);
    padding: var(--padding);
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      border-color: #fff;
    }

    &:focus {
      outline: 0;
    }
  }

  & button {
    border-color: #abacaf;

    &:hover {
      border-color: #fff;
    }
  }
}
