:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  background-color: #242424;
  box-sizing: border-box;
  --padding: .4rem .8rem;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
}

.full-width {
  width: 100%;
}

button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  color: inherit;
  font-weight: bold;
  padding: var(--padding);
  cursor: pointer;
  transition: all 0.2s;
  
  &:hover {
    color: black;
    background-color: rgb(255, 255, 255);
  }
}
